@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font-family: "Poppins", sans-serif;
    --second-family: "PT Sans", sans-serif;
    --primaryColor: #fc0;
    --secondaryColor: #353535;
    --bg-gradient:  linear-gradient(130deg, #fc0 0%, #fff5cb 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}

h1,h2,h3,h4,h5,h6,ul,p,ol,span{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-family);
}

.btn--primary{
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    color: #fff;
    display: inline-flex;
    align-items: center;
    gap: 11px;
    border-radius: 12px;
    background: var(--primaryColor);
    padding: 10px 21px;
}

.btn--primary.btn--lg{
    padding: 16px 45px;
    font-size: 20px;
}

.btn--outline{
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    color: var(--secondaryColor);
    border: 1px solid #000;
    border-radius: 20px;
    padding: 16px 18px;
    display: inline-flex;
    align-items: center;
    gap: 11px;
}

.btn--outline.btn--lg{
    font-size: 18px;
    padding: 17px 43px;
}


#Navbar ul li a{
    font-weight: 500;
    font-size: 15px;
    line-height: 200%;
    color: var(--secondaryColor);
    padding: 23px 23px 5px;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
}

#Navbar ul li:hover a{
    border-color: var(--secondaryColor);
}

#banner{
    padding: 56px 0 155px;
}

#banner h5{
    font-weight: 400;
    font-size: 24px;
    color: #353535;
}
#banner p{
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    color: #353535;
    margin-bottom: 45px;
}
#banner h1{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 64px;
    color: #353535;
    margin: 15px 0 25px;
}

#banner a.btn--primary{
    margin-right: 40px;
}


#banner .icon {
background-color: #F4F3F3;
border-radius: 50%;
padding: 2px 8px;
margin-left: 10px;
color: black;
align-items: center;
text-align: center;
}

#banner .paragr{
font-weight: 500;
font-size: 22px;
line-height: 180%;
letter-spacing: 0;
}

#banner .mouse{
    align-items: center;
    position: relative;
    text-align: center;
 
}

#about{
    background: url(./Rectangle\ 49.png);
   
    
background-repeat: no-repeat;
      background-size: cover;
    position: relative;
   bottom: 70px;
}

#about .content h2 {
    font-family: var(--secondary_font);
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 700;
    color: #353535;
    margin-top: 55px;
}

#about .content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 190%;
    letter-spacing: 0%;
    color: #353535;
    margin-bottom: 45px;
    margin-top: 30px;
}



#about::after {
    content: '';
    display: block;
    width: 180px;
    height: 85px;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    background: #63b176;
    position: absolute;
    bottom: 0;
    right: 50px;
}

#about .btn--outline{
    border-radius: 20px;
}

#skill .items{
border-radius: 20px;
box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
background: #fff;
padding-bottom: 15px;
}


#skill .items img {
    margin: 30px 0 0 170px;
   
}

#skill .items h5 {
    font-weight: 600;
    font-size: 22px;
    line-height: 180%;
    text-align: center;
    color: var(--primary-color);
    margin: 18px 0 14px 0;
}

#skill .items p {
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    text-align: center;
    color: #7a7a7a;
    margin: 0 48px 64px 46px;
}

#SkillCard{
    display: none;
}


#branding {
    margin: 0 auto 147px;
    border-radius: 30px;
    width: 1110px;
    height: 473px;
    background: var(--bg-gradient);
    margin-top: 70px;
}

#branding img {
    width: 516px;
    position: relative;
    margin-top: 18px;
}

#branding .data h2 {
    margin: 83px 0 21px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 44px;
    color: var(--primary-color);
}

#branding .data p {
    font-weight: 400;
    font-size: 18px;
    line-height: 190%;
    color: var(--primary-color);
    margin-bottom: 35px;
}



.btn_secondary {
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    color: var(--primary-color);
    border: 1px solid #000;
    border-radius: 20px;
    padding: 16px 18px 17px 18px;
    display: inline-flex;
    align-items: center;
    gap: 11px;
    background-color: transparent;
}

#branding .data .group{
    width: 100px;
    height: 50px;
    position: absolute;
    margin: 0 0 30px 25px;
}


#branding .data .Purple{
    width: 100px;
    height: 50px;
    position: absolute;
   top: 1950px;
   margin-left: 230px;
}

 .servicecard {
            background: #fff;
            border-radius: 18px;
            padding: 20px;
            box-shadow: 0px 5px 25px rgba(0,0,0,0.12);
            margin-bottom: 25px;
            display: flex;
            align-items: center;
            gap: 20px;
        }
        .icon-circle {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            color: #fff;
        }
        .title {
            font-size: 35px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .description {
            color: #555;
            max-width: 380px;
            line-height: 1.7;
        }

        .stats {
            margin-top: 20px;
        }

        .statsnumber {
            font-size: 28px;
            font-weight: 700;
        }

        .servicecard {
            background: #fff;
            border-radius: 16px;
            padding: 18px 20px;
            box-shadow: 0px 5px 30px rgba(0,0,0,0.2);
            display: flex;
            align-items: center;
            gap: 18px;
            margin-bottom: 25px;
        }

        .icon-circle {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            color: #fff;
        }

        .green { background: #6FCF97; }
        .yellow { background: #F6D549; }
        .orange { background: #FF8A3D; }

        .heading-title {
            font-size: 45px;
            font-weight: 700;
        }
        .statsnumber {
            font-size: 38px;
            font-weight: 700;
        }

        .bannerhead{
            margin-left: 650px;
            margin-top: -380px;
        }

        #Mobile{
            display: none;
        }






        #exp {
    padding: 100px 0;
}

.timeline .designation {
    border-right: 2px dashed #7a7a7a;
    position: relative;
    padding: 3px 0 117px;
}


.timeline .designation::before{
    content: '';
    width: 42px;
    height: 42px;
    position: absolute;
    border: 2px dashed #7a7a7a;
    border-radius: 50%;
    top: -21px;
    right: -21px;
    background-color: #fff;
    
}

.timeline .designation::after{
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
}

.timeline.green .designation::after{
    background-color: #52ab70;
}
.timeline.red .designation::after{
    background-color: #f17676;
}
.timeline.yellow .designation::after{
    background-color: #ffd233;
}

.timeline .role h4,
.timeline .designation h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 180%;
    color: #353535;
}

.timeline .role p,
.timeline .designation p {
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #7a7a7a;
}


.timeline .role p {
    font-weight: 400;
    line-height: 200%;
}

.heading h1{
    font-size: 35px;
    font-weight: 700;
}

.heading p{
    font-size: 17px;
    font-weight: 400;
    margin-top: 20px;
    color: #7a7a7a;
 line-height: 35px;
}

.heading .area{
    margin-top: 55px;
}

.heading .btn--cv{
border: 0px solid #7a7a7a;
border-radius: 10px;
font-size: 17px;
position: absolute;
margin-top: 28px;
text-decoration: none;
color: #FFFFFF;
background-color: var(--primaryColor);
font-weight: 500;
line-height: 180%;
 padding: 10px 25px;
display: inline-flex;
 align-items: center;
 gap: 11px;

}

.picture .frame{
margin-top: 65px;
position: absolute;
margin-left: 70px;
}

.picture .btn--skill{
    border: 2px solid #000;
    position: absolute;
    margin-top: -2px;
    padding: 20px 55px;
    border-radius: 10px;
    color: #000;
    font-size: 17px;
    margin-left: 80px;
}

.picture .btn--edu{
    border: 0px solid #000;
    position: absolute;
    padding: 20px 55px;
    border-radius: 10px;
    color: #000;
    font-size: 17px;
    margin-left: 275px;
}


@media  (max-width:991px)

{
    
    #banner h5 {
        font-size: 16px;
    }
    #banner h1 {
        font-size: 40px;
    }
    #banner p {
        margin-bottom: 30px;
        font-size: 15px;
    }
    .btn--primary.btn--lg {
        padding: 8px 21px;
        font-size: 14px;
    }
    .btn--primary{
        border-radius: 5px;
    }
    .btn--outline {
        font-size: 14px;
        border-radius: 5px;
        padding: 5px 10px;
    }
    #banner a.btn--primary{
        margin-right: 11px;
    }

    #banner .bannerimg{
        margin-top: 50px;
    }
    
#banner .paragr{
font-weight: 500;
font-size: 16px;
line-height: 180%;
letter-spacing: 0;
margin-top: 50px;
}

#banner .mouse{
    display: none;
}


#about img.img-fluid {
        transform: rotateY(180deg);
    }

    #about::after {
        transform: rotateX(180deg);
        top: 0;
        right: 15px;
        font-size: 20px;
    }

    #about {
   bottom: 110px;
}

#about .content h2 {
     font-weight: 700;
     line-height: 100%;
    font-size: 24px;
     letter-spacing: 0%;
 margin-top: 90px;

}

#about .content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14.5px;
    line-height: 171%;
    color: #4d4d4d;
    margin-top: 25px;
}

#about .btn--outline{
    border-radius: 22px;
   
}

#skill{
    display: none;
}

#SkillCard{
    display:block
}


 .box {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  margin-bottom: 5px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}


 .box img {
    width: 42px;
    height: 40px;
  margin-right: 15px;
}

 .title {
  font-size: 20px;
  font-weight: 700;
}

#branding {
        width: 400px;
        height: 679px;
        background: linear-gradient(135deg, #f8d33f, #f8e59a);
  border-radius: 20px;
  min-height: 420px;
  overflow: hidden;
    }

    #branding img {
        width: 390px;
  position: relative;
margin-top: 10px;
    }

    #branding .data h2 {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 24px;
        padding: 15px;
        margin-top: 20px ;
        color: var(--primary-color);
    }

    #branding .data p {
        font-weight: 400;
        font-size: 14px;
        line-height: 180%;
        padding: 15px;
        color: var(--primary-color);
    }


.btn_secondary {
    font-weight: 500;
    color: var(--primary-color);
    border: 1px solid #000;
    font-size: 14px;
     border-radius: 22px;
  margin: 0 0 0 15px;
}
  
#branding .data .group{
    display: none;
}

#branding .data .Purple{
    display: none;
}

#Help{
    display: none;
}

#Mobile{
display: block;
}

.title {
            font-size: 35px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .description {
            color: #555;
            max-width: 380px;
            line-height: 1.7;
        }

        .stats {
            margin-top: 20px;
        }

        .stats-number {
            font-size: 28px;
            font-weight: 700;
        }

        .service-card {
            background: #fff;
            border-radius: 16px;
            padding: 18px 20px;
            box-shadow: 0px 5px 30px rgba(0,0,0,0.2);
            display: flex;
            align-items: center;
            gap: 18px;
            margin-bottom: 25px;
        }

        .icon-circle {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            color: #fff;
        }

        .title {
            font-size: 35px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .description {
            color: #555;
            max-width: 380px;
            line-height: 1.7;
        }

        .stats {
            margin-top: 20px;
        }

        .stats-number {
            font-size: 28px;
            font-weight: 700;
        }

        .service-card {
            background: #fff;
            border-radius: 16px;
            padding: 18px 20px;
            box-shadow: 0px 5px 30px rgba(0,0,0,0.2);
            display: flex;
            align-items: center;
            gap: 18px;
            margin-bottom: 25px;
        }

        .icon-circle {
            width: 55px;
            height: 55px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            color: #fff;
        }

        .green { background: #6FCF97; }
        .yellow { background: #F6D549; }
        .orange { background: #FF8A3D; }

       .Mobileview{
        margin-top: -30px;
       }

       .Mobileicon{
        margin-top: 15px;
       }

          .timelineWrapper {
        border-left: 2px dashed #7a7a7a;
        padding: 0 30px;
        max-width: 90%;
        margin: auto;
    }

    .timeline {
        margin-bottom: 30px;
    }

    .timeline .designation {
        border-right: none;
        position: relative;
        padding: 3px 12px 10px;
    }

    .timeline .role h4,
    .timeline .designation h4 {
        font-size: 18px;
    }

    .timeline .role p,
    .timeline .designation p {
        font-size: 14px;
    }

    .timeline .designation::before {
        right: auto;
        left: -40px;
    }

    .timeline .designation::after {
        right: auto;
        left: -29px;
    }


#expert{
    margin-top: -50px;
}

    .heading h1{
    font-size: 18px;
    font-weight: 700;
}

.heading p{
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    color: #7a7a7a;
 line-height: 25px;
 color: #444444; 
 width: 310px;
}

.heading .area{
    margin-top: 25px;
}

.heading .btn--cv{
display: none;

}

.picture{
    margin-top: -100px;
}

.picture .frame{
margin-top: 500px;
position: absolute;
margin-left: -205px;
}

.picture .btn--skill{
    border: 2px solid #000;
    position: absolute;
    margin-top: 440px;
    padding: 12px 50px;
    border-radius: 10px;
    color: #000;
    font-size: 17px;
    margin-left: -190px;
}

.picture .btn--edu{
    border: 0px solid #000;
    position: absolute;
    margin-top: 435px;
    padding: 20px 55px;
    border-radius: 10px;
    color: #000;
    font-size: 17px;
    margin-left: -45px;
}


}

